@import url("https://fonts.googleapis.com/css?family=Chango:700|Noto%20Sans:400");
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  --text: #554a4c;
  --background: #fff1f4;
  --primary: #fbb7c0;
  --secondary: #e15175;
  --accent: #51b4e1;
}

body {
  font-family: "Noto Sans";
  font-weight: 500;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Chango";
  font-weight: 700;
  color: var(--text);
}

p {
  color: var(--text);
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem;
  /* 67.36px */
}

h2 {
  font-size: 3.158rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.75rem;
  /* 12px */
}

/* ********************************************************************* */

a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #fbb7c0;
  height: 100px;
  align-items: center;
  position: sticky;
  top: 0;
  font-size: 120%;

  ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    a {
      color: var(--text);
    }
  }

  img {
    width: 75px;
    height: 75px;
  }
}

/* ************************************************ */

.meow {
  color: var(--secondary);
}

.gap {
  letter-spacing: 7px;
}

.hero {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 100px;

  .left {
    width: 50%;
    text-align: end;

    p {
      width: 50%;
      margin-left: auto;
      margin-top: 25px;
    }
  }

  .btn {
    margin-left: auto;
    margin-top: 50px;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 10px;

    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .image-grid-row-2 {
      grid-row: span 2;
    }
  }
}

.btn {
  background-color: var(--secondary);
  padding: 10px 15px;
  border-radius: 10px;
  width: fit-content;

  a {
    color: var(--background);
  }
}

.chevronDown {
  margin-top: -40px;
  text-align: center;
  color: var(--secondary);
  margin-bottom: 50px;
}

/* ***************************************************************************** */

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  margin-top: 50px;
}
.produit {
  background-color: var(--secondary);
  height: 500px;
  width: 300px;
  border-radius: 10px;
}
